<!DOCTYPE html>
<html>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='/public/assets/css/manage/1.0.1/index.css' />
		<link rel='stylesheet' type='text/css' href='/public/assets/css/manage/1.0.1/iframe.css' />
		<link rel='stylesheet' type='text/css' href='$!{conf.html.cdn}ztree/3.5.15/css/zTreeStyle/zTreeStyle.css' media='screen' />
		<style>
		ul.ztree {
			border: 1px solid #DDDDDD;
			height: 300px;
			overflow-y: scroll;
			overflow-x: auto;
			margin-bottom: 10px;
		}
		ul.ztree * {
			font-family: 'Microsoft Yahei',Helvetica,Arial,sans-serif;
		}
		.ztree li span.button.switch.level0 {
			visibility: hidden;
			width: 1px;
		}
		.ztree li ul.level0 {
			padding: 0;
			background: none;
		}
		</style>
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-12'>
					<ol class='breadcrumb'>
						<li class='active'><i class='fa fa-home fa-fw'></i> 后台管理</li>
						<li class='active'><a href='javascript:location.reload();'>任务管理</a></li>
					</ol>
					<div class='panel panel-info'>
						<div class='panel-heading'>
							<h3 class='panel-title'><strong>查询条件</strong></h3>
						</div>
						<div class='panel-body'>
							<form id='searchFrm' class='form-inline' role='form' onsubmit='return false;'>
								<div class='form-group'>
									<input type='text' class='form-control' placeholder='任务名称'>
								</div>
								<button type='button' class='btn btn-default glyphicon glyphicon-search' id='searchFrm_btn_search'>&#8201;查询</button>
							</form>
						</div>
					</div>
				</div>
				<div class='col-sm-12 col-md-3'>
					<ul id='menuTree' class='ztree'></ul>
				</div>
				<div class='col-sm-12 col-md-9'>
					<div class='panel panel-default table-responsive'>
						<div class='panel-heading'>
							<div class='btn-group btn-group-xs'>
								<button id='btn_add' class='btn btn-primary glyphicon glyphicon-plus-sign'>新增</button>
								<button id='btn_edit' class='btn btn-default glyphicon glyphicon-edit' data-toggle='modal' data-target='#editModal'>编辑</button>
								<button id='btn_del' class='btn btn-danger glyphicon glyphicon-remove-sign'>删除</button>
							</div>
						</div>
						<table id='table2' data-olx-type='olx.grid' class='table table-bordered table-hover table-condensed table-striped' data-url='/role/list' data-current='1' data-pagesize='20' data-count='561'>
						#parse('manage/task/_pagelet/Side.List.Task.html')
						</table>
					</div>
				</div>
			</div>
		</div>
		#parse('front/_pagelet/Common.IndexJs.html')
		#parse('manage/_pagelet/Common.Iframe.html')
		<script type='text/javascript' src='$!{conf.html.cdn}ztree/3.5.15/js/jquery.ztree.core-3.5.js'></script>
		<script>
			$(function(){
				// TODO
				$('#btn_add').click(function(){
					var zTree = $ .fn.zTree.getZTreeObj('menuTree'),
						node = zTree.getSelectedNodes()[0];
					if(!node) return;
					if(node.isParent) return;
					// TODO
					parent.location.href = '/manage/#page/task/add/'+ node.id;
				});
				// TODO
				$('#btn_del').click(function(){
					var task_id = $('input:radio[name="TASK_ID"]:checked').val();
					if(!task_id) return;
					// TODO
					if(confirm('确定要执行该操作吗？')){
						// TODO
						$.ajax({
							url: './del/'+ task_id,
							type: 'POST',
							dataType: 'JSON'
						}).done(function (data){
							location.reload();
						});
					}
				});
				// TODO
				$('#searchFrm_btn_search').click(function(){
					var formObj = $('#searchFrm').serializeObjectForm();
					console.log(formObj);
				});
			});
		</script>
		<script>
		$(function(){
			var setting = {
				view: {
					selectedMulti: false
				}, data: {
					simpleData: {
						enable: true
					}
				}, callback: {
					beforeExpand: function(treeId, treeNode){
						var zTree = $ .fn.zTree.getZTreeObj(treeId);
						if(treeNode.children) return;
						$ .ajax({
							url: '/manage/json/getProjectsByUserId/'+ treeNode.id,
							type: 'POST',
							dataType: 'JSON'
						}).done(function (data){
							if(!data.success) return;
							var items = data.data;
							for(var i=0,j=items.length;i<j;i++){
								var item = items[i];
								zTree.addNodes(treeNode, {
									id: item.id,
									isParent: false,
									name: item.PROJECT_TYPE_NAME +'-'+ item.PROJECT_NAME +' ('+ item.TASK_COUNT +')'
								});
							}
						});
					}, onClick: function(event, treeId, treeNode, clickFlag){
						if(!treeNode.id) return;
						if(treeNode.isParent) return;
						// TODO
						$.ajax({
							url: './html/getTasksByProjectId/'+ treeNode.id,
							type: 'POST',
							dataType: 'JSON'
						}).done(function (data){
							if(!data.success) return $('#table2').html('');
							$('#table2').html(data.data);
						});
					}
				}
			};
			// TODO
			var zNodes = [{
				id: '',
				name: 'Root',
				open: true
			}#foreach($!obj in $!data.users),{
				id: '$!obj.id',
				pId: '$!obj.PID',
				name: '$!obj.USER_NAME'+'-'+'$!obj.REAL_NAME ($!obj.PROJECT_COUNT)',
				isParent: true
			}#end];
			// TODO
			$ .fn.zTree.init($('#menuTree'), setting, zNodes);
		});
		</script>
	</body>
</html>