<div class='panel-group' id='accordion'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='#accordion' href='#collapseSys'>系统管理</a>
			</h4>
		</div>
		<div id='collapseSys' class='panel-collapse collapse'>
			<div class='panel-body'>
				<p><a href='#page/role/?name=角色管理'>角色管理</a></p>
				<p><a href='#page/user/?name=用户管理'>用户管理</a></p>
				<p><a href='#page/authcode/?name=认证码管理'>认证码管理</a></p>
			</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='#accordion' href='#collapseProject'>项目发布</a>
			</h4>
		</div>
		<div id='collapseProject' class='panel-collapse collapse in'>
			<div class='panel-body'>
				<p><a href='#page/project/?name=项目管理'>项目管理</a></p>
				<p><a href='#page/task/?name=任务管理'>任务管理</a></p>
				<p><a href='#page/task/monitor/?name=任务监控'>任务监控</a></p>
			</div>
		</div>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title'>
				<a data-toggle='collapse' data-parent='#accordion' href='#collapseStatistics'>统计分析</a>
			</h4>
		</div>
		<div id='collapseStatistics' class='panel-collapse collapse'>
			<div class='panel-body'>
				<p><a href='#page/statistics/synthesize/?name=综合分析'>综合分析</a></p>
				<p><a href='#page/statistics/project/?name=项目分析'>项目分析</a></p>
			</div>
		</div>
	</div>
</div>