<div id='banner' class='navbar navbar-inverse navbar-fixed-top' role='banner'>
	<div class='container'>
		<div class='navbar-header'>
			<button class='navbar-toggle' data-target='#navbar-collapse' data-toggle='collapse' type='button'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' href='/manage/'>RVT</a>
		</div>
		<div id='navbar-collapse' class='collapse navbar-collapse'>
			<ul class='nav navbar-nav'>
				#foreach($!doc in $!data.topMenu)
					<li#if(1 == $velocityCount) class='active'#end><a href='#page/welcome/' onclick='sideNav("$!doc.id", this)'>$!doc.MENU_NAME</a></li>
				#end
			</ul>
			<ul class='nav navbar-nav navbar-right'>
				<li class='dropdown active'>
					<a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>配置 <b class='caret'></b></a>
					<ul class='dropdown-menu'>
						<li><a href='#page/../manage/user/changePwd'>修改密码</a></li>
					</ul>
				</li>
				<li class='active'><a href='/manage/user/logout'>退出</a></li>
			</ul>
			<form id='topSearchFrm' class='navbar-form navbar-right' role='search' data-olx-type='olx.form' onsubmit='return false;'>
				<div class='form-group'><input class='form-control' type='text' placeholder='搜索'></div>
				<button class='btn btn-default' type='submit'>
					<div class='glyphicon glyphicon-search'></div>
				</button>
			</form>
		</div>
	</div>
</div>
<script>
$(function(){
	$('#logoutConfirmModal_btn_submit').click(function(){
		location.href = '/manager/logout'
	});
});
function sideNav(menuId, self){
	$(self).parent().parent().find('.active').removeClass();
	$(self).parent().addClass('active');
	$.ajax({
		url: '/manage/side/'+ menuId,
		type: 'POST',
		dataType: 'JSON'
	}).done(function (data){
		if(!data.success) return $('#sideNav').html('');
		$('#sideNav').html(data.data);
	});
}
</script>