<div class="foot navbar navbar-default navbar-fixed-bottom">
  <ul>
    <li>
      <a href="/"><img src="$!{conf.html.static_res}assets/images/sy.jpg">
        <p>首页</p>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="javascript:;"><img src="$!{conf.html.static_res}assets/images/fj.jpg">
        <p>附近</p>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="javascript:;"><img src="$!{conf.html.static_res}assets/images/yh.jpg">
        <p>优惠券</p>
      </a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/i/"><img src="$!{conf.html.static_res}assets/images/wd.jpg">
        <p>我的</p>
      </a>
    </li>
  </ul>
</div>