<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.foreworld.rvt.mapper.TaskTakeMapper">
	<resultMap id="baseResultMap" type="net.foreworld.rvt.model.TaskTake">
		<id column="id" property="id" jdbcType="VARCHAR" />

		<result column="upload_time" property="upload_time" />
		<result column="talk_time" property="talk_time" />
		<result column="talk_time_len" property="talk_time_len"
			jdbcType="INTEGER" />

		<result column="task_id" property="task_id" jdbcType="VARCHAR" />
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" />
		<result column="status" property="status" jdbcType="INTEGER" />

		<association property="user" javaType="net.foreworld.rvt.model.User">
			<result property="user_name" column="user_name" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<resultMap id="byUserIdResultMap" type="net.foreworld.rvt.model.TaskTake">
		<id column="id" property="id" jdbcType="VARCHAR" />

		<result column="upload_time" property="upload_time" />
		<result column="talk_time" property="talk_time" />
		<result column="talk_time_len" property="talk_time_len"
			jdbcType="INTEGER" />

		<result column="task_id" property="task_id" jdbcType="VARCHAR" />
		<result column="user_id" property="user_id" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" />
		<result column="status" property="status" jdbcType="INTEGER" />

		<association property="project" javaType="net.foreworld.rvt.model.Project">
			<result property="tel_num" column="tel_num" jdbcType="VARCHAR" />
		</association>

		<association property="task" javaType="net.foreworld.rvt.model.Task">
			<result property="task_name" column="task_name" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<select id="findByTaskId" resultMap="baseResultMap">
		SELECT b.USER_NAME, a.* FROM
		(SELECT * FROM r_project_task_take WHERE TASK_ID=#{task_id}) a LEFT
		JOIN s_user b ON (a.USER_ID=b.id) WHERE b.id IS NOT NULL ORDER BY
		a.CREATE_TIME DESC
	</select>

	<select id="findByUserId" resultMap="byUserIdResultMap">
		SELECT d.PROJECT_NAME,
		d.TEL_NUM, c.* FROM (SELECT b.TASK_NAME, b.PROJECT_ID, a.* FROM
		(SELECT * FROM r_project_task_take WHERE USER_ID=#{0}
		AND
		CREATE_TIME
		&gt; DATE_FORMAT(#{1},'%Y-%m') AND CREATE_TIME
		&lt;
		DATE_FORMAT(DATE_ADD(#{1},INTERVAL 1 MONTH), '%Y-%m')
		ORDER
		BY
		CREATE_TIME DESC) a LEFT
		JOIN
		r_project_task b ON
		(a.TASK_ID=b.id)
		WHERE
		b.id IS NOT NULL) c
		LEFT
		JOIN r_project d ON
		(c.PROJECT_ID=d.id)
		WHERE
		d.id IS NOT NULL
	</select>
</mapper>