<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('front/_pagelet/Common.IndexHeader.html')
		<style>
		body {
			background-color: #F5F5F5;
			padding-bottom: 40px;
			padding-top: 40px;
		}
		#loginFrm {
			background-color: #FFFFFF;
			border: 1px solid #E5E5E5;
			border-radius: 5px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
			margin: 0 auto 20px;
			max-width: 350px;
			padding: 19px 29px 29px;
		}
		#alert_info {
			max-width: 350px;
			margin: 0 auto 20px;
		}
		</style>
	</head>
	<body>
		<section class='container'>
			<div id='alert_info' class='alert alert-warning'>
				<button type='button' class='close' data-dismiss='alert'>&times;</button>
				<strong>提示：</strong><span id='alert_msg'>请按要求输入正确的格式内容。</span>
			</div>
			<form id='loginFrm' role='form' onsubmit='return false;' data-url=''>
				<h3>后台登陆</h3>
				<div class='form-group'>
					<input class='form-control' id='loginFrm_USER_NAME' name='USER_NAME' type='text' placeholder='用户名' value=''>
				</div>
				<div class='form-group'>
					<input class='form-control' id='loginFrm_USER_PASS' name='USER_PASS' type='password' placeholder='密码' value=''>
				</div>
				<div class='checkbox'>
					<label>
						<input type='checkbox'> 记住我
					</label>
				</div>
				<button id='btn_login' type='button' class='btn btn-primary'>登陆</button>
			</form>
		</section>
		#parse('front/_pagelet/Common.IndexJs.html')
		<script type='text/javascript'>
		$('#btn_login').click(function(){
			$('#loginFrm').olxForm('submit', [function(){
			}, function (valiResu){
			}, function (data){
				if(data.success) location.href = '../';
				if(data.msg) alert(data.msg[0]);
			}]);
		});
		</script>
	</body>
</html>